[Unit]
Description=Agent service
After=network.target

[Service]
Type=simple
ExecStart=/opt/two/bin/agent
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
